.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  background-color: #073763;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AppHeader img {
  width: 9rem;
  margin-left: 20px;
}

.admin-name {
  color: white;
  font-size: medium;
  font-weight: normal;
}

.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(26, 11, 124, 0.05);
}

.SideMenu {
  height: 100%;
  width: 250px;
}

.SideMenu .ant-menu {
  background-color: #073763;
  color: white;
  padding-top: 30px;
}

.SideMenuVertical {
  height: 100%;
}

.PageContent {
  padding-left: 100px;
  padding-top: 100px;
  width: 100%;
  background-color: rgb(236, 245, 255);
  height: 100%;
}

.narrow-column {
  width: 20%;
  max-width: 150px;
}

.admin-data {
  background-color: white;
  border-radius: 20px;
  height: 300px;
  padding-top: 17px;
  width: 70%;
  padding-left: 40px;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.data-field {
  display: flex;
  align-items: center;
}

.field-icon {
  margin-right: 8px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .SideMenuAndPageContent {
    flex-direction: column;
  }

  .SideMenu {
    width: 100%;
  }

  .PageContent {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .AppHeader,
  .AppFooter {
    justify-content: center;
  }

  .SideMenuAndPageContent {
    align-items: center;
  }

  .PageContent {
    padding-left: 10px;
    padding-top: 10px;
  }
}
